{
  "log": {
    "_recordingName": "getAllProjects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 292,
            "text": "{\"scopes\":\"project pipeline snippet issue team pullrequest account wiki\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-render-time",
              "value": "0.0327341556549"
            },
            {
              "name": "x-request-count",
              "value": "2790"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "eb6e4fd7e4809bca69c52e2de21cdb76",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/workspaces/jupiterone/projects/"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1648,
            "text": "{\"pagelen\": 50, \"values\": [{\"description\": \"\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/projects/TRASH\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/workspace/projects/TRASH\"}, \"repositories\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone?q=project.key=\\\"TRASH\\\"\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/user/jupiterone/projects/TRASH/avatar/32?ts=1597186520\"}}, \"uuid\": \"{9888693f-669d-42c2-83ea-14e177578c51}\", \"created_on\": \"2020-08-11T22:55:20.286215+00:00\", \"workspace\": {\"slug\": \"jupiterone\", \"type\": \"workspace\", \"name\": \"JupiterOne\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/workspaces/jupiterone/avatar/?ts=1596575986\"}}, \"uuid\": \"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\"}, \"key\": \"TRASH\", \"owner\": {\"username\": \"jupiterone\", \"display_name\": \"JupiterOne\", \"type\": \"team\", \"uuid\": \"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/teams/%7B47ee2a27-c8fa-43c4-95fd-8384e557690e%7D\"}, \"html\": {\"href\": \"https://bitbucket.org/%7B47ee2a27-c8fa-43c4-95fd-8384e557690e%7D/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/jupiterone/avatar/\"}}}, \"updated_on\": \"2020-08-11T22:55:20.286236+00:00\", \"type\": \"project\", \"is_private\": true, \"name\": \"Trash\"}, {\"description\": \"Projects related to JupiterOne transition to separate company.\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/projects/TRAN\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/workspace/projects/TRAN\"}, \"repositories\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone?q=project.key=\\\"TRAN\\\"\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/user/jupiterone/project[...]
