{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 264,
            "text": "{\"scopes\":\"pullrequest project team account\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "c3549abc1894"
            },
            {
              "name": "x-render-time",
              "value": "0.0374240875244"
            },
            {
              "name": "x-request-count",
              "value": "1548"
            },
            {
              "name": "x-version",
              "value": "c3549abc1894"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 395,
      },
      {
        "_id": "c63b32278e4b4d12bfa278cb7aabf2f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/workspaces/jupiterone-dev"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 897,
            "text": "{\"uuid\": \"{5ade5777-444d-4a40-bc89-1d43b04487a7}\", \"links\": {\"owners\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone-dev/members?q=permission%3D%22owner%22\"}, \"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone-dev\"}, \"repositories\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone-dev\"}, \"snippets\": {\"href\": \"https://bitbucket.org/!api/2.0/snippets/jupiterone-dev\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone-dev/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/workspaces/jupiterone-dev/avatar/?ts=1616114655\"}, \"members\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone-dev/members\"}, \"projects\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone-dev/projects\"}}, \"created_on\": \"2021-03-19T00:44:15.446518+00:00\", \"type\": \"workspace\", \"slug\": \"jupiterone-dev\", \"is_private\": true, \"name\": \"jupiterone-dev\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "pullrequest, project, team, account"
            },
            {
              "name": "x-usage-output-ops",
              "value": "0"
            },
            {
              "name": "x-dc-location",
              "valu[...]
