{
  "log": {
    "_recordingName": "getAllRepos",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 292,
            "text": "{\"scopes\":\"account pipeline wiki issue snippet project team pullrequest\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-render-time",
              "value": "0.209640026093"
            },
            {
              "name": "x-request-count",
              "value": "885"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 592,
      },
      {
        "_id": "6da439c29d5945515fd7e7a85cbe495e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/repositories/jupiterone"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5610,
            "text": "{\"pagelen\": 10, \"size\": 244, \"values\": [{\"scm\": \"git\", \"website\": \"\", \"has_wiki\": false, \"uuid\": \"{2736b367-f1b8-4547-bdba-00f3fdc1fa9e}\", \"links\": {\"watchers\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/watchers\"}, \"branches\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/refs/branches\"}, \"tags\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/refs/tags\"}, \"commits\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/commits\"}, \"clone\": [{\"href\": \"https://jupiterone@bitbucket.org/jupiterone/jupiter-integration-bitbucket.git\", \"name\": \"https\"}, {\"href\": \"git@bitbucket.org:jupiterone/jupiter-integration-bitbucket.git\", \"name\": \"ssh\"}], \"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket\"}, \"source\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/src\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/jupiter-integration-bitbucket\"}, \"avatar\": {\"href\": \"https://bytebucket.org/ravatar/%7B2736b367-f1b8-4547-bdba-00f3fdc1fa9e%7D?ts=default\"}, \"hooks\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/hooks\"}, \"forks\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/forks\"}, \"downloads\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/downloads\"}, \"pullrequests\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-bitbucket/pullrequests\"}}, \"fork_policy\": \"no_public_forks\", \"full_name\": \"jupiterone/jupiter-integration-bitbucket\", \"name\": \"jupiter-integration-bitbucket\", \"project\": {\"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/projects/JUP\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/workspace/projects/JUP\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/user/jupiterone/projects/JUP/avatar/32?ts=1593637154\"}}, \"type\": \"project\", \"name\": \"JupiterOne\", \"key\": \"JUP\", \"uuid\": \"{640adb52-b5f3-4fa1-8022-4a7145ef885c}\"}, \"language\": \"typescript\", \"created_on\": \"2018-02-07T21:20:08.323956+00:00\", \"mainbranch\": {\"type\": \"branch\", \"name\": \"master\"}, \"workspace\": {\"slug\": \"jupiterone\", \"type\": \"workspace\", \"name\": \"JupiterOne\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/workspaces/jupiterone/avatar/?ts=1596575986\"}}, \"uuid\": \"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\"}, \"has_issues\": false, \"owner\": {\"username\": \"jupiterone\", \"display_name\": \"JupiterOne\", \"type\": \"team\", \"uuid\": \"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/teams/%7B47ee2a27-c8fa-43c4-95fd-8384e557690e%7D\"}, \"html\": {\"href\": \"https://bitbucket.org/%7B47ee2a27-c8fa-43c4-95fd-8384e557690e%7D/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/jupiterone/avatar/\"}}}, \"updated_on\": \"2021-03-16T12:51:38.716317+00:00\", \"size\": 4857027, \"type\": \"repository\", \"slug\": \"jupiter-integration-bitbucket\", \"is_private\": true, \"description\": \"\"}, {\"scm\": \"git\", \"website\": \"\", \"has_wiki\": false, \"uuid\": \"{0fb982af-6725-4785-a22f-aca7cf7f3353}\", \"links\": {\"watchers\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-service/watchers\"}, \"branches\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-service/refs/branches\"}, \"tags\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone/jupiter-integration-service/refs/tags\[...]
