{
  "log": {
    "_recordingName": "getWorkspaceMembers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 292,
            "text": "{\"scopes\":\"pipeline issue team pullrequest account wiki project snippet\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-render-time",
              "value": "0.0294399261475"
            },
            {
              "name": "x-request-count",
              "value": "2730"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204,
      },
      {
        "_id": "c436b4dab3f224c3ceec926d9bd1dc1c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/workspaces/jupiterone/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5796,
            "text": "{\"pagelen\":50,\"values\":[{\"links\":{\"self\":{\"href\":\"https://bitbucket.org/!api/2.0/workspaces/jupiterone/members/%7Bff0294ca-05b6-4ced-925e-1f675fec4770%7D\"}},\"type\":\"workspace_membership\",\"user\":{\"display_name\":\"User 0\",\"uuid\":\"{ff0294ca-05b6-4ced-925e-1f675fec4770}\",\"links\":{\"self\":{\"href\":\"https://bitbucket.org/!api/2.0/users/%7Bff0294ca-05b6-4ced-925e-1f675fec4770%7D\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bff0294ca-05b6-4ced-925e-1f675fec4770%7D/\"},\"avatar\":{\"href\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/602aa0a17b23f4006849e578/55d57bfa-0b3c-485f-bb16-81615d2379e4/128\"}},\"nickname\":\"Nickname 0\",\"type\":\"user\",\"account_id\":\"602aa0a17b23f4006849e578\"},\"workspace\":{\"slug\":\"jupiterone\",\"type\":\"workspace\",\"name\":\"JupiterOne\",\"links\":{\"self\":{\"href\":\"https://bitbucket.org/!api/2.0/workspaces/jupiterone\"},\"html\":{\"href\":\"https://bitbucket.org/jupiterone/\"},\"avatar\":{\"href\":\"https://bitbucket.org/workspaces/jupiterone/avatar/?ts=1596575986\"}},\"uuid\":\"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\"}},{\"links\":{\"self\":{\"href\":\"https://bitbucket.org/!api/2.0/workspaces/jupiterone/members/%7B288779e9-3ec5-4d87-aa34-fa8c09009e96%7D\"}},\"ty[...]
