{
  "log": {
    "_recordingName": "getWorkspaceNotFound",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 292,
            "text": "{\"scopes\":\"pipeline issue pullrequest wiki team snippet project account\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-render-time",
              "value": "0.154131889343"
            },
            {
              "name": "x-request-count",
              "value": "1242"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 338,
      },
      {
        "_id": "62bc14be38d0044d91e814d7f0e4aeab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/workspaces/jupiteron1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 85,
            "text": "{\"type\": \"error\", \"error\": {\"message\": \"No workspace with identifier 'jupiteron1'.\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "pipeline, snippet, wiki, issue, pullrequest, project, team, account"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "etag",
              "value": "\"694fe51b895a18209b9058ae560c6f54\""
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-credential-type",
              "value": "oauth2"
            },
            {
              "name": "x-render-time",
              "value": "0.0391049385071"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-request-count",
              "value": "4801"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
