{
  "log": {
    "_recordingName": "getWorkspace",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 292,
            "text": "{\"scopes\":\"issue team project account wiki pullrequest pipeline snippet\",\"access_token\":\"[REDACTED]\",\"expires_in\":7200,\"token_type\":\"bearer\",\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-render-time",
              "value": "0.0311119556427"
            },
            {
              "name": "x-request-count",
              "value": "783"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      },
      {
        "_id": "c18987bcbcbbbeded34675a9fdd2c1da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bitbucket.org/api/2.0/workspaces/jupiterone"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 857,
            "text": "{\"uuid\": \"{47ee2a27-c8fa-43c4-95fd-8384e557690e}\", \"links\": {\"owners\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/members?q=permission%3D%22owner%22\"}, \"self\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone\"}, \"repositories\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/jupiterone\"}, \"snippets\": {\"href\": \"https://bitbucket.org/!api/2.0/snippets/jupiterone\"}, \"html\": {\"href\": \"https://bitbucket.org/jupiterone/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/workspaces/jupiterone/avatar/?ts=1596575986\"}, \"members\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/members\"}, \"projects\": {\"href\": \"https://bitbucket.org/!api/2.0/workspaces/jupiterone/projects\"}}, \"created_on\": \"2020-07-01T13:27:21.119256+00:00\", \"type\": \"workspace\", \"slug\": \"jupiterone\", \"is_private\": true, \"name\": \"JupiterOne\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "pipeline, snippet, wiki, issue, pullrequest, project, team, account"
            },
            {
              "name": "x-dc-location",
              "value": "ash2"
            },
            {
              "name": "etag",
              "value": "\"331f9f733f2849afae6b9ac093bcdedc\""
            },
            {
              "name": "x-static-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-credential-type",
              "value": "oauth2"
            },
            {
              "name": "x-render-time",
              "value": "0.0342152118683"
            },
            {
              "name": "x-version",
              "value": "ab34fdcfc59c"
            },
            {
              "name": "x-request-count",
              "value": "4038"
            },
            {
              "name": "dc-location",
              "value": "ash2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
